source https://api.nuget.org/v3/index.json

framework: net8.0
storage: none

nuget FSharp.Core
nuget xunit
nuget xunit.runner.visualstudio
nuget Unquote
nuget FsCheck.xUnit
nuget Microsoft.NET.Test.Sdk
nuget JunitXML.TestLogger
nuget Argu 6.2.3